$green-1: #219665;
$green-2: #27AE75;
$green-3: #6FCF9B;

$gray-1: #293547;
$gray-2: #3B4758;
$gray-3: #606B7B;
$gray-4: #8A94A3;
$gray-5: #BEC4CD;
$gray-6: #F1F1F1;

$red: #EB5757;
$orange: #F8A528;
$yellow: #F2C94C;

$blue-1: #2E6FAB;
$blue-2: #2E87B9;
$blue-3: #68BCD7;

$purple-1: #9B51E0;
$purple-2: #BB6BD9;

$mobile: 320px;
$mobile-l: 640px;
$tablet: 768px;
$tablet-m: 960px;
$tablet-l: 1024px;
$desktop: 1280px;
$max-site-width: 1800px;

$base-font: 'Nunito Sans', sans-serif;
